// mat-card {
//   margin: 20px
// }

mat-card {
  height: 20em;
  max-width: 25em;

  mat-card-header {
    align-self: center;
    padding: 0.75em;
  }
  mat-card-content {
    overflow: auto;
  }
}
