<mat-card onclick="fileInputUiUpdate.click()">
  <mat-card-header>
    <mat-card-title>File update</mat-card-title>
    <mat-card-subtitle>click to upload files</mat-card-subtitle>
    <!-- <mat-card-subtitle>Drag and drop or click to upload</mat-card-subtitle> -->
  </mat-card-header>
  <mat-card-content>
    <input type="file" style="display: none;" id="fileInputUiUpdate" [multiple]="true" (change)="fileBrowseHandler($event)"/>
    <div id="fileList" *ngIf="filesToUpload && filesToUpload.length > 0">
      <div *ngFor="let fileToUpload of filesToUpload" class="fileToUpload">
        <mat-progress-spinner *ngIf="fileToUpload.percentage < 100; else checkMark;" [mode]="'determinate'" [value]="fileToUpload.percentage" [diameter]="25"></mat-progress-spinner>
        <ng-template #checkMark>
          <div class="checkMark">✔</div>
        </ng-template>
        <span id="filename">{{fileToUpload.file.name}}</span>
      </div>
    </div>
    <button [disabled]="buttonDisabled" *ngIf="filesToUpload && filesToUpload.length > 0" mat-raised-button color="primary" (click)="manageButtonClick($event)">{{buttonLabel}}</button>
  </mat-card-content>
</mat-card>
