<app-card
  [ngClass]="{clickable: cardClickable, 'not-clickable': !cardClickable}"
  (click)="isUploading ? false : fileInputUiUpdate.click()"
  [title]="'File update'"
  [subtitle]="'click to upload files'"
  [showOverlay]="isUploading"
  [loaderPercentage]="uploadPercentage">
  <div id="content">
    <input type="file" style="display: none;" #fileInputUiUpdate id="fileInputUiUpdate" [multiple]="true" (change)="fileBrowseHandler($event)"/>
    <div id="fileList" *ngIf="filesToUpload && filesToUpload.length > 0">
      <div *ngFor="let fileToUpload of filesToUpload" class="fileToUpload">
        <div *ngIf="canRemoveFile; else cannotRemoveFile" class="remove" (click)="removeFile($event, fileToUpload)">🗑️</div>
        <ng-template #cannotRemoveFile>
          <mat-progress-spinner *ngIf="isUploading; else notUploading;" [mode]="'determinate'" [value]="fileToUpload.percentage" [diameter]="25"></mat-progress-spinner>
          <ng-template #notUploading>
            <div class="checkMark">✔</div>
          </ng-template>
        </ng-template>
        <span id="filename">{{fileToUpload.file.name}}</span>
      </div>
    </div>
    <div id="buttons">
      <button [disabled]="buttonDisabled" *ngIf="filesToUpload && filesToUpload.length > 0" mat-raised-button color="primary" (click)="manageButtonClick($event)" [ngClass]="{clickable: buttonClickable}">{{buttonLabel}}</button>
    </div>
  </div>
</app-card>
