<app-card
  appDrag
  onclick="fileDropRef.click()"
  (files)="fileDropHandler($event)"
  [title]="'Firmware update'"
  [subtitle]="'Drag and drop or click to upload'"
  [ngClass]="{clickable: true}"
  [showOverlay]="uploading"
  [loaderPercentage]="percentage">
  <div>
    <form style="display: none;" #updateForm enctype='multipart/form-data'>
      <input type="file" #fileDropRef id="fileDropRef" [multiple]="false" (change)="fileBrowseHandler($event)" accept="application/octet-stream"/>
    </form>
    <div *ngIf="selectedFile !== undefined" id="fileContainer">
      <span id="filename">{{selectedFile.name}}</span>
    </div>
    <button *ngIf="selectedFile !== undefined" mat-raised-button color="primary" (click)="sendUpdateFile($event)">Upload</button>
  </div>
</app-card>
