#fileContainer {
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  & > #filename {
    margin-bottom: 1em;
  }
}
